* {
  font-family: "Roboto Mono", sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #202124;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

div[aria-live] {
  font-family: sans-serif !important;
}